<!-- BEGIN JUMBOTRON -->
<section class="jumbotron full-height" data-pages="parallax">
  <div class="inner full-height">
    <!-- BEGIN SLIDER -->
    <div class="swiper-container" id="hero">
      <div class="swiper-wrapper">
        


        <!-- BEGIN SLIDE -->
        <div class="swiper-slide fit bg-info">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
            <div class="background-wrapper" data-swiper-parallax="20%">
              <!-- YOUR BACKGROUND IMAGE HERE, YOU CAN ALSO USE IMG with the same classes -->
              <div data-pages-bg-image="assets/images/1.jpg" draggable="false" class="background"  data-overlay-opacity="0.75" data-bg-overlay="black"></div>
            </div>
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-left">
                  <div class="container text-center">
                    <h1 class="light text-white" data-pages-animation="standard" data-delay="1100" data-type="transition.slideDownIn">
                       <span style="font-family: 'Oswald'; text-transform: uppercase; font-size: 14px; line-height: 20px; letter-spacing: 3px; font-weight: 400; display: block; color: #08C;">AN INSTITUTIONAL PLATFORM</span>
                      <span style="font-family: 'Oswald'; text-transform: uppercase; font-size: 72px; line-height: 120px; letter-spacing: 17px; font-weight: 100;">Minority invest</span>

                      <span style="font-family: 'Oswald'; text-transform: uppercase; font-size: 14px; line-height: 20px; letter-spacing: 3px; font-weight: 100; display: block;">summer 2017</span>
                       <br/>
                      <span class="font-montserrat text-uppercase" data-pages-init="text-rotate" data-speed="1000" data-animation="fade" style="font-size: 30px; letter-spacing: 5px;">venture capital, private equity, investment banks, investors, accelerators, incubators, think tanks, non-profits, social enterprise, corporate programs</span>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SLIDE -->

        <!-- BEGIN SLIDE -->
        <div class="swiper-slide fit bg-white" data-pages-header="alternate">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
            <div class="background-wrapper" data-swiper-parallax="20%">
              <!-- YOUR BACKGROUND IMAGE HERE, YOU CAN ALSO USE IMG with the same classes -->
              <div data-pages-bg-image="assets/images/2.jpg" draggable="false" class="background"  data-overlay-opacity="0.75" data-bg-overlay="black"></div>
            </div>
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-left">
                  <div class="container text-center">
                    <h1 class="light text-white" data-pages-animation="standard" data-delay="1100" data-type="transition.slideDownIn">
                       <span style="font-family: 'Oswald'; text-transform: uppercase; font-size: 14px; line-height: 20px; letter-spacing: 3px; font-weight: 400; display: block; color: #08C;">AN EDUCATION PLATFORM</span>
                     
                     <span style="font-family: 'Oswald'; text-transform: uppercase; font-size: 72px; line-height: 120px; letter-spacing: 17px; font-weight: 100;">Minority invest</span>

                      <span style="font-family: 'Oswald'; text-transform: uppercase; font-size: 14px; line-height: 20px; letter-spacing: 3px; font-weight: 100; display: block;">Summer 2017</span>
                       <br/>
                      <span class="font-montserrat text-uppercase" data-pages-init="text-rotate" data-speed="1000" data-animation="fade" style="font-size: 30px; letter-spacing: 5px;">compensation models, valuation, investment strategy, early-stage investing, deal structuring, asset classes, alternative investments, saving, peer-to-peer lending, business credit</span>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SLIDE -->

        <!-- BEGIN SLIDE -->
        <div class="swiper-slide fit bg-info">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
            <div class="background-wrapper" data-swiper-parallax="20%">
              <!-- YOUR BACKGROUND IMAGE HERE, YOU CAN ALSO USE IMG with the same classes -->
              <div data-pages-bg-image="assets/images/3.jpg" draggable="false" class="background"  data-overlay-opacity="0.75" data-bg-overlay="black"></div>
            </div>
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-left">
                  <div class="container text-center">
                    <h1 class="light text-white" data-pages-animation="standard" data-delay="1100" data-type="transition.slideDownIn">
                       <span style="font-family: 'Oswald'; text-transform: uppercase; font-size: 14px; line-height: 20px; letter-spacing: 3px; font-weight: 400; display: block; color: #08C;">AN CIVIC ENGAGMENT PLATFORM</span>
                      <span style="font-family: 'Oswald'; text-transform: uppercase; font-size: 72px; line-height: 120px; letter-spacing: 17px; font-weight: 100;">Minority invest</span>

                      <span style="font-family: 'Oswald'; text-transform: uppercase; font-size: 14px; line-height: 20px; letter-spacing: 3px; font-weight: 100; display: block;">summer 2017</span>
                       <br/>
                      <span class="font-montserrat text-uppercase" data-pages-init="text-rotate" data-speed="1000" data-animation="fade" style="font-size: 30px; letter-spacing: 5px;">Retirement planning, salary negotiations, home ownership, personal finance, wealth management, tax strategy, financial literacy, family planning</span>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SLIDE -->


        <!-- BEGIN SLIDE -->
        <div class="swiper-slide fit bg-info">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
            <div class="background-wrapper" data-swiper-parallax="20%">
              <!-- YOUR BACKGROUND IMAGE HERE, YOU CAN ALSO USE IMG with the same classes -->
              <div data-pages-bg-image="assets/images/5.jpg" draggable="false" class="background"  data-overlay-opacity="0.75" data-bg-overlay="black"></div>
            </div>
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-left">
                  <div class="container text-center">
                    <h1 class="light text-white" data-pages-animation="standard" data-delay="1100" data-type="transition.slideDownIn">
                       <span style="font-family: 'Oswald'; text-transform: uppercase; font-size: 14px; line-height: 20px; letter-spacing: 3px; font-weight: 400; display: block; color: #08C;">A COLLABORATION PLATFORM</span>
                      <span style="font-family: 'Oswald'; text-transform: uppercase; font-size: 72px; line-height: 120px; letter-spacing: 17px; font-weight: 100;">Minority invest</span>

                      <span style="font-family: 'Oswald'; text-transform: uppercase; font-size: 14px; line-height: 20px; letter-spacing: 3px; font-weight: 100; display: block;">summer 2017</span>
                       <br/>
                      <span class="font-montserrat text-uppercase" data-pages-init="text-rotate" data-speed="1000" data-animation="fade" style="font-size: 30px; letter-spacing: 5px;">knowledge sharing, collective ideation, best practices, inclusive strategies, masterminding, 
                        strategic alignments, pilot testing </span>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SLIDE -->

      </div>
      <div class="swiper-navigation swiper-white-solid swiper-button-prev auto-reveal"></div>
      <div class="swiper-navigation swiper-white-solid swiper-button-next auto-reveal"></div>
    </div>
  </div>
  <!-- END SLIDER -->
</section>
